<div class="buffer-message">
  <div class="container">
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
  </div>
  <p class="lead">Waiting for stream to buffer...</p>
</div>

<div class="watch">
  <a class="btn btn-success" href="<%= streamURL %>">Watch Now</a>
</div>

<script>
  var streamURL = "<%= streamURL %>";
  $(document).ready(function() {
    setTimeout(function(){
      document.getElementById("player_html5_api").setAttribute("src", streamURL);
      $('.buffer-message').hide();
      $('#player').removeClass('hidden');
    }, 3000);
  });
</script>
